/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --main-color: #883cae;
  --foreground-rgb: #f7f7f7;
  --nav-active-color: #646de3;
  --nav-active-bg-color: #ecf1fd;
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-color-base: #454749;
  --font-color-black: #000;
  --border-color: #eaeaea;
  --title-border-color: #e5e7eb;
  --header-height: 80px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-base);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  color: var(--font-color-base);
  background-color: var(--foreground-rgb);
}

.main-container {
  margin-top: var(--header-height);
  width: 100%;
  height: 100%;
  display: grid;
  padding: 1rem 5rem 1rem 1rem;
  grid-template-columns: 292px auto;
  column-gap: 3rem;

  .main-right {
    width: 100%;
    height: 100%;
  }
}

// 亮色卡片
.main-card-light {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 18px;
}

// 暗色卡片
.main-card-dark {
  background-color: var(--foreground-rgb);
  border-radius: 15px;
  padding: 14px 24px 24px 24px;
}

.main-card-light,
.main-card-dark {
  button {
    margin-left: 17px;
    height: 28px;
  }
}

.main-title-contaienr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--title-border-color);
  padding: 14px 0px 14px 14px;

  &.no-border {
    border-bottom: 0px;
  }
}

// 主标题
.main-title {
  color: var(--main-color);
  font-size: var(--font-size-lg);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .main-title-desc {
    color: #858585;
    font-weight: normal;
    font-size: var(--font-size-md);
  }
}

// 子标题
.main-subtitle {
  color: var(--main-color);
  font-size: var(--font-size-base);
  font-weight: bold;
}

.search-form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 28px;
}

.table-paginator-container {
  display: flex;
  justify-content: flex-end;
}

.cursor-pointer {
  cursor: pointer;
}

.mt30 {
  margin-bottom: 30px;
}
