.layout-top-bar {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  background-color: var(--foreground-rgb);
}

.layout-topbar-logo {
  display: flex;
  align-items: center;
  gap: 12px;

  .layout-topbar-desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color-black);

    .layout-topbar-title {
      font-size: var(--font-size-base);
      font-weight: bold;
    }

    .layout-topbar-subtitle {
      font-size: var(--font-size-xs);

      span:nth-child(2) {
        color: var(--main-color);
        font-weight: 700;
      }
    }
  }
}

.layout-topbar-menu {
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-sm);

  img {
    margin-right: 8px;
  }
  button {
    margin-left: 31px;
    height: 28px;
  }
}
