.layout-navbar {
  width: 100%;
  background: transparent;

  .layout-nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .layout-nav-item {
      height: 55px;
      display: flex;
      align-items: center;
      gap: 4px;
      padding-left: 17px;
      cursor: pointer;

      i {
        font-size: 16px;
        width: 24px;
      }

      &:hover,
      &.active {
        width: 292px;
        color: var(--nav-active-color);
        background-color: var(--nav-active-bg-color);
        border-radius: 15px;
      }
    }
  }
}
